<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Diakont" connectionString="Data Source=NOTEBOOK\SQLEXPRESS;Initial Catalog=diakont;User ID=sa;Password=sa_1835"/>
  </connectionStrings>
</configuration>